@import "../css/reset.css";
@import "../css/bootstrap_grid.css";
@import "../css/flexslider.css";
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(https://fonts.googleapis.com/css?family=Pacifico);
article,aside,audio,canvas,command,datalist,details,embed,figcaption,figure,footer,header,hgroup,keygen,meter,nav,output,progress,section,source,video{display:block}mark,rp,rt,ruby,summary,time{display:inline}
/* Global properties ======================================================== */
html {width:100%}

body {
  font-family: 'Lato', sans-serif;
  font-size:14px;
  line-height:1.23;
  color:#e6e7e8;
  min-width: 1200px;
  background: #33383b;
  -webkit-text-size-adjust: none;
  font-weight: 300;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*----------------------> Links And buttons <------------------*/
a {
  color:#e6e7e8;
  outline:none;
  text-decoration:none;
  cursor:pointer;
}
a:hover{
  color:#CE5E00;
  text-decoration:none;
}

.accent_color{
  color: #CE5E00;
}

.accent_bg_color{
  background-color:#CE5E00;
}



.btn1{
  display:inline-block;
  padding: 5px 25px 6px;
  margin: 0 0 0;
  font-size: 16px;
  line-height: 1.2;
  cursor: pointer;
  border: 1px solid transparent;
 }

[data-skin="default"]{
  border-color: #CE5E00;
  background-color: transparent;
  color: #fff;
}

  [data-skin="default"]:hover{
    background-color: #CE5E00;
    color: #fff;
  }

.link1:hover{
  text-decoration: underline;
}

/*----------------------> Basic Classes <------------------*/
.reg {text-transform:uppercase}
.f_left {float:left}
.f_right {float:right}
.al_left{text-align: left;}
.al_right {text-align:right}
.al_center {text-align:center}

.it{font-style:italic}
.let{letter-spacing:-1px}

.full_w{
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.val_mid{vertical-align: middle;}
/*----------------------> Indents Zero <------------------*/

.m_b_zero{ margin-bottom:0 !important;}
.m_l_zero{ margin-left:0 !important;}
.p_b_zero{ padding-bottom:0 !important;}
.p_l_zero{ padding-left:0 !important;}

/*----------------------> Positions <------------------*/
.p_abs{position: absolute;}
.p_rel{position: relative;}
.p_fix{position: fixed;}
.clear {clear:both;width:100%;line-height:0;font-size:0;}
.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.wrapper {overflow:hidden}
.f_elem>*:first-child{margin-top: 0 !important;}
.f_elem1>*:first-child{margin-top: 0 !important;border: none !important;}

.bg_none{ background:none !important;}

/*----------------------> Displays <------------------*/

.d_block{ display:block;}
.d_ib{ display:inline-block;}
.d_none{ display:none;}
.d_tc{ display:table-cell;}
.d_t{ display:table;}


/*----------------------> Basic Colors <------------------*/

.dark_bg{
  background-color: #1f2427;
}


.gray_color{
  color: #999;
}


.with_stripes{
  padding: 15px 0;
  border-bottom: 1px solid rgba(255,255,255,.3);
  border-top: 1px solid rgba(255,255,255,.3);
}
/*======================> Header <======================*/

header{
  background-color: #1f2427;
  border-bottom: 3px solid #CE5E00;
  padding: 15px 0;
  font-weight: normal;
}
  .logo{}
    .logo a{
      display:block;
      width:278px;
      height:85px;
      background:url(../images/logo.png) 0 0 no-repeat;
      text-decoration:none;
      text-indent:-9999px;
    }


.header_slogan{
  font-size: 30px;
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

/*--------------- primary nav -----------*/
nav{
  border-top: 1px solid rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(255,255,255,.3);
}

.menu_item{
  float: left;
}
  .menu_link{
    font-size: 12px;
    text-transform: uppercase;
    display: block;
    padding: 8px 15px;
  }

  .menu_link:hover,
  .current .menu_link{
    color: #CE5E00;
  }

/*=====================> Slider ========================*/
.main_slider{
  max-height: 760px;
}

.flexslider .slides img{
  max-width: 100%;
  height: auto;
}

.thumb_carousel{
  position: absolute;
  bottom: -107px;
  left: 0px;
  right: 0;
  padding: 10px;
}

.thumb_carousel.static{
  position: static;
  padding: 10px 0;
}

.show_thumb .thumb_carousel{
  bottom: 0;
}
  .thumb_carousel .slides li{
    margin-right: 10px;
    opacity: .6;
    position: relative;
    cursor: pointer;
  }

  .thumb_carousel .slides li.flex-active-slide,
  .thumb_carousel .slides li:hover{
    opacity: 1;
  }

  .thumb_carousel .slides li:before{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden;
    opacity: 0;
    border: 4px solid #ce5e00;
    content: "";
  }

  .thumb_carousel .slides li:hover:before{
    opacity: 1;
    visibility: visible;
  }

  .show_thumb_btn{
    width: 60px;
    height: 60px;
    position: absolute;
    left: 50px;
    bottom: 50px;
    z-index: 10;
    display: block;
    cursor: pointer;
    background: #fff url(../images/show_thumb_icon.png) 50% 27px no-repeat;
  }

  .show_thumb .show_thumb_btn{
    bottom: 107px;
  } 

    .show_thumb_btn:hover{
      background-color:#ce5e00;      
    }

/*=====================> Content ========================*/
#content{padding: 0 0px 0px; min-height: 700px;}
.cont_pad{padding:0 0 0 0 !important;}

#content img{
  max-width: 100%;
  height: auto;
}


.content_box{
  padding: 50px 0;
}

.service_item{
}
  .service_item figcaption{
    padding: 20px 0;
  }



.project_item{
  padding: 15px;
  background-color: #000B0D;
}
  .project_item figcaption{
    padding-right: 40px;
  }

[data-label]{
  position: relative;
}

[data-label="new"]:before{
  display: block;
  position: absolute;
  color: #CE5E00;
  padding: 5px;
  right: 15px;
  top: 7px;
  font-size: 20px;
  line-height: 1;
  content: attr(data-label);
}

.projects_box{
  margin: 0 -0.5%;
  padding-top: 20px;
}

.project_item_sm{
  float: left;
  width: 22%;
  margin: 0 1.5% 20px;
  padding: 0 0 20px;
  border-bottom: 1px solid rgba(255,255,255,.4);
}

.projects_box .project_item_sm:last-child{
  border: none;
  padding: 25px 0;
}
  .project_item_sm figcaption{
    padding: 4px 0 0 15px;
  }


.projects_nav_list{
  padding: 0px;
}

  .projects_nav_list dt,
  .projects_nav_list dd a{
    display: block;
    padding: 6px 20px;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
    .projects_nav_list dd:last-child a{
      border: none;
    }

  .projects_nav_list dt{
    background-color: rgba(255,255,255,.4);
  }



  .projects_nav_list dd a:hover{
    padding-left: 30px;
    color: #fff;
    background-color:#CE5E00;
  }


.portfolio_content{
  padding: 20px 30px;
}


.portfolio_items{
  margin: 0 -1%;
}
  .portfolio_item{
    position: relative;
    width: 31%;
    float: left;
    margin: 0 1% 17px;
  }

  .portfolio_btn{
    position: absolute;
    display: block;
    width: 120px;
    height: 120px;
    line-height: 120px;
    /*padding: 20px 0 0;*/
    opacity: .6;
    border-radius: 80px;
    left: 50%;
    top: 50%;
    background-color: #000;
    text-align: center;
    margin: -60px 0 0 -60px;
  }

    .portfolio_btn:hover{
      color: #fff;
      opacity: 1;
      background-color:#ce5e00;
    }



.share-this{
  min-height: 64px;
}



/*=====================> Paragraphs ========================*/

p {margin-bottom:18px}
.mb1{ margin-bottom:1px;}
.mb2{ margin-bottom:2px;}
.mb3{ margin-bottom:3px;}
.mb4{ margin-bottom:4px;}
.mb5{ margin-bottom:5px;}
.mb6{ margin-bottom:6px;}
.mb7{ margin-bottom:7px;}
.mb8{ margin-bottom:8px;}
.mb9{ margin-bottom:9px;}
.mb10{ margin-bottom:10px;}
.mb11{ margin-bottom:11px;}
.mb12{ margin-bottom:12px;}
.mb13{ margin-bottom:13px;}
.mb14{ margin-bottom:14px;}
.mb15{ margin-bottom:15px;}
.mb16{ margin-bottom:16px;}
.mb17{ margin-bottom:17px;}
.mb18{ margin-bottom:18px;}
.mb19{ margin-bottom:19px;}
.mb20{ margin-bottom:20px;}
.mb21{ margin-bottom:21px;}
.mb22{ margin-bottom:22px;}
.mb23{ margin-bottom:23px;}
.mb24{ margin-bottom:24px;}
.mb25{ margin-bottom:25px;}
.mb26{ margin-bottom:26px;}
.mb27{ margin-bottom:27px;}
.mb28{ margin-bottom:28px;}
.mb29{ margin-bottom:29px;}
.mb30{ margin-bottom:30px;}
.mb31{ margin-bottom:31px;}
.mb32{ margin-bottom:32px;}
.mb33{ margin-bottom:33px;}
.mb34{ margin-bottom:34px;}
.mb35{ margin-bottom:35px;}
.mb36{ margin-bottom:36px;}
.mb37{ margin-bottom:37px;}
.mb38{ margin-bottom:38px;}
.mb39{ margin-bottom:39px;}
.mb40{ margin-bottom:40px;}
.mb41{ margin-bottom:41px;}
.mb42{ margin-bottom:42px;}
.mb43{ margin-bottom:43px;}
.mb44{ margin-bottom:44px;}
.mb45{ margin-bottom:45px;}
.mb46{ margin-bottom:46px;}
.mb47{ margin-bottom:47px;}
.mb48{ margin-bottom:48px;}
.mb49{ margin-bottom:49px;}
.mb50{ margin-bottom:50px;}
.mb51{ margin-bottom:51px;}
.mb52{ margin-bottom:52px;}
.mb53{ margin-bottom:53px;}
.mb54{ margin-bottom:54px;}
.mb55{ margin-bottom:55px;}
.mb58{ margin-bottom:58px;}
.mb62{ margin-bottom:62px;}
.mb75{ margin-bottom: 75px;}


/*=====================> Lists ========================*/
.list1{}
.list1 li{
  position: relative;
  padding: 1px 0 0 20px;
  margin-bottom: 5px;
}

.list1 li:last-child{
  margin-bottom: 0;
}

  .list1 li:before{
    display: block;
    position: absolute;
    left: 0;
    top: 8px;
    border-radius: 6px;
    width: 6px;
    height: 6px;
    background-color:#CE5E00;
    content: "";
  }
.list1 a{}

.list2{}
.list2 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list2 a{}

.list3{}
.list3 li{
  background:url(../images/marker1.png) 0 7px no-repeat;
  padding-left:20px;
}
.list3 a{}

/*=====================> Titles ========================*/
h2,h3,h4{
  font-weight:normal;
}
.title1{
  font-size: 34px;
  line-height: 1.23;
  font-weight: 300;
}

.title2{
  font-size: 28px;
  line-height: 1.2;
  font-weight: 300;
}

.title3{
  font-size: 16px;
  line-height: 1.2;
  font-weight: 300;
}


/*================================>> GOOGLE FONTS  <<========================================*/

.pacifico{
  font-family: 'Pacifico', cursive;
}


/*================================>> hovers <<========================================*/
a,
.thumb_carousel .slides li:before,
.thumb_carousel .slides li,
.thumb_carousel,
.show_thumb .show_thumb_btn,
.show_thumb_btn,
button{
    -webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
a:hover,
.thumb_carousel .slides li:hover:before,
.thumb_carousel .slides li:hover,
button:hover{
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}



/*================================>> Contact Form <<========================================*/
#contact-form {
  padding:0px 0 0 0;
  position: relative;
}
#contact-form .success
{
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left:0;
  z-index: 99;
  background: #fff;
  border: 1px solid #000;
  text-align: center;
  padding: 20px 0;
}
.txt_field,
.msg_field{
  margin:0;
  font-size:12px;
  border:1px solid #e7e7e7;
  color:#969696;
  padding:7px 10px;
  outline:none;
  width: 100%;
  position:relative;
  font-family:Arial, Helvetica, sans-serif;
  background:#fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px !important;
}

.msg_field{
  overflow:auto;
  height:97px;
  resize:none;
  margin: 0 0 0 0;
}

.form_label{
  margin-bottom: 5px;
  display: block;
}

.form_row{
  margin-bottom: 15px;
}

#contact-form .error, #contact-form .empty, #contact-form .success {display:none;}
#contact-form .error, #contact-form .empty {
  text-align:left;
  color:red;
  font-size:11px;
  position: absolute;
  right: 10px;
  top: 5px;
}
#contact-form .buttons2 {
  overflow:hidden;
  text-align:right;
  position:relative;
  clear:both;
  padding-top:25px;
}
#contact-form .buttons2 a {
	cursor:pointer;
	margin-top:0;
	text-align:center;
}
#contact-form span{
  display:block;
  margin: 0px 0 0 5px;
 }

.map_wrapper{
  overflow:hidden;
  display:inline-block;
  margin-bottom:26px;
}


/*================================>> Contacts Info <<========================================*/
#map_canvas {
   width:100%;
   height:250px;
}
.adress{}
.adress span{
  display:inline-block;
}
.adress dt{ margin-bottom:14px;}

/*================================>> Footer <<========================================*/
footer {
  padding:22px 0 26px;
}
.social{
  overflow:hidden;
}
.social a{
  display:block;
  float:left;
  width:32px;
  height:32px;
  overflow:hidden;
  margin-left:8px;
}
.social a:first-child{margin: 0 0 0 0;}
.social a:hover img{
  margin-top:-32px;
}

/*============================= Easy responsive tabs ============================*/


.resp-tabs-list li {
    
}


h2.resp-accordion {
    display: none;
}

.resp-tab-content {
    display: none;
}

.resp-content-active, .resp-accordion-active {
    display: block;
}

.resp-easy-accordion  h2.resp-accordion {
        display: block;
}

.resp-tab-content-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    ul.resp-tabs-list {
        display: none;
    }

    h2.resp-accordion {
        display: block;
    }

    
    .resp-accordion-closed {
        display:none !important;
    }
    
}


/*============================ Arctic modal =============================*/
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 1000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; border-radius: 10px; background: #000; color: #fff; }
.arcticmodal-loading { width: 80px; height: 80px; border-radius: 10px; background: #000 url(loading.gif) no-repeat 50% 50%; }


/* ========================== OWL CAROUSEL =============================*/
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.2
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel{
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
  
.owl-carousel .owl-item{
  float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing { 
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:    hidden;
  -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

